.navbar {
	height: 80px;
	background-color: #1c2b35;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 140px;
	padding-right: 140px;
}
.navbar img {
	width: 140px;
}
.nav-links {
	display: flex;
}
.nav-links a {
	text-decoration: none;
	padding-left: 40px;
}
.nav-links a:hover {
	color: #ffa500;
}
